body {
    background: #FFFFFF;
}

h1 {
    color:#0000FF;
}

h2 {
    color:#0077FF;
}

h3 {
    color:#00AAFF;
}

h4 {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.image {
    outline: 4px double blue;
}

.image:hover {
    outline: none;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

h2.center {
    text-align: center
}

h3.center {
    text-align: center
}
