<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>403 Access Denied</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="menu :: mainmenu"></div>
<h3 class="center" th:if="${#request.userPrincipal != null}" th:utext="#{menu.p403(${#request.userPrincipal.getName()})}" style="color: red"></h3>
<img class="center" src="/img/oops.png" alt="oops">
<div th:insert="footer :: copyright"></div>
</body>
</html>