<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bases List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="menu :: mainmenu"></div>
<h1>Bases List</h1>
<div>
    <table border="1">
        <tr>
            <th>Base ID</th>
            <th>Base Name</th>
            <th>Description</th>
            <th>Contragent</th>
            <th>Contragent INN</th>
        </tr>
        <tr th:each ="base : ${bases}">
            <td th:utext="${base.id}">...</td>
            <td th:utext="${base.basename}">...</td>
            <td th:utext="${base.description}">...</td>
            <td th:utext="${base.contragentsByContragentid.getContragentname()}">...</td>
            <td th:utext="${base.contragentsByContragentid.getInn()}">...</td>
        </tr>
    </table>
</div>
<br/>
<h2>Base Form</h2>
<form th:object="${baseform}" method="POST">
    Base ID:
    <input type="text" th:field="*{id}" />
    <button type="submit" name="findbyid">Find by ID</button>
    <br/>
    Base Name:
    <input type="text" th:field="*{basename}" />
    <br/>
    Description:
    <input type="text" th:field="*{description}" />
    <br/>
    Contragent:
    <select th:field="*{contragentid}">
        <option value="0"> -- </option>
        <option th:each="contragent : ${contragents}"
                th:value="${contragent.getId()}"
                th:text="${contragent.getContragentname()}"></option>
    </select>
    <br/>
    <button type="submit" name="add">Add base</button>
    <button type="submit" name="delete">Delete base</button>
    <button type="submit" name="update">Update base</button>
</form>
<br/>

<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<div th:insert="footer :: copyright"></div>
</body>
</html>