<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bases List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
         function deleteClicked(value1, value2) {
            $( "#dialog-confirm" ).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                display: 'block',
                buttons: {
                    OK: function() {
                        var url = 'baseslist';
                        var form = $('<form action="' + url + '" method="post">' +
                            '<input type="hidden" name="delete" value="' + value1 + '" />' +
                            '<input type="hidden" name="size" value="' + value2 + '" />' +
                            '</form>');
                        $('body').append(form);
                        form.submit();
                        $( this ).dialog( "close" );
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
        }
    </script>
</head>
<body>
<div th:insert="menu :: mainmenu"></div>
<div style="display:none;" id="dialog-confirm" title="Delete base?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
<h1 th:utext="#{menu.baseslist}"></h1>
<form action="baseslist" th:object="${tablePageSize}" method="get">
    <select th:field="*{size}">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
    <button type="submit" name="change"><span th:utext="#{button.changetablepagesize}"></span></button>
</form>
<div>
    <table border="1">
        <tr th:height="50px">
            <th th:utext="#{baseslist.baseid}" align="center"></th>
            <th align="center">
                <a th:href="@{/baseslist(order='basename_d', size=${currentPageSize})}" style="text-decoration: none;" th:utext="'^'">
                </a>
                <span th:text="#{baseslist.basename}"></span>
                <a th:href="@{/baseslist(order='basename_a', size=${currentPageSize})}" style="text-decoration: none;" th:utext="'v'">
                </a>
            </th>
            <th th:utext="#{baseslist.description}" align="center"></th>
            <th th:utext="#{baseslist.path}" align="center"></th>
            <th th:utext="#{baseslist.ipaddress}" align="center"></th>
            <th align="center">
                <a th:href="@{/baseslist(order='contragentname_d', size=${currentPageSize})}" style="text-decoration: none;" th:utext="'^'">
                </a>
                <span th:text="#{baseslist.contragent}"></span>
                <a th:href="@{/baseslist(order='contragentname_a', size=${currentPageSize})}" style="text-decoration: none;" th:utext="'v'">
                </a>
            </th>
            <th th:utext="#{baseslist.contragentinn}" align="center"></th>
            <th></th>
        </tr>
        <tr th:each ="base : ${bases}">
            <td th:utext="${base.id}" align="center">...</td>
            <td th:utext="${base.basename}">...</td>
            <td th:utext="${base.description}">...</td>
            <td th:utext="${base.path}">...</td>
            <td><a th:href="${base.ipaddress}" th:text="${base.ipaddress}" align="center">...</a></td>
            <td th:utext="${base.contragentsByContragentid.getContragentname()}">...</td>
            <td th:utext="${base.contragentsByContragentid.getInn()}" align="center">...</td>
            <td>
                <button type="submit" name="delete" th:onclick="'javascript:deleteClicked(\'' + ${base.id} +
                                '\',\'' + ${currentPageSize} + '\');'">
                    <span th:utext="#{button.delete}"></span></button>
            </td>
        </tr>
    </table>
</div>
<div th:if="${totalPages > 1}">
<table border="0">
    <tr  height = 20px>
        <div class="pagination"
            th:each="pageNumber : ${pageNumbers}">
            <td>
                <a th:href="@{/baseslist(size=${pageSize}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==currentPage} ? active">
                </a>
            </td>
        </div>
    </tr>
</table>
</div>
<br/>
<h2 th:utext="#{baseslist.form}"></h2>
<form th:object="${baseform}" method="POST">
    <span th:utext="#{baseslist.baseid}"></span>:
    <input type="text" th:field="*{id}" />
    <button type="submit" name="findbyid"><span th:utext="#{button.findByID}"></span></button>
    <br/>
    <span th:utext="#{baseslist.basename}"></span>:
    <input type="text" th:field="*{basename}" />
    <br/>
    <span th:utext="#{baseslist.description}"></span>:
    <input type="text" th:field="*{description}" />
    <br/>
    <span th:utext="#{baseslist.path}"></span>:
    <input type="text" th:field="*{path}" />
    <br/>
    <span th:utext="#{baseslist.ipaddress}"></span>:
    <input type="text" th:field="*{ipaddress}" />
    <br/>
    <span th:utext="#{baseslist.contragent}"></span>:
    <select th:field="*{contragentid}">
        <option value="0"> -- </option>
        <option th:each="contragent : ${contragents}"
                th:value="${contragent.getId()}"
                th:text="${contragent.getContragentname()}"></option>
    </select>
    <br/>
    <button type="submit" name="add"><span th:utext="#{button.add}"></span></button>
    <button type="submit" name="update"><span th:utext="#{button.update}"></span></button>
</form>
<br/>

<div th:if="${infoMessage}" th:utext="${infoMessage}"
     style="color:blue;font-style:italic;">
    ...
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<div th:insert="footer :: copyright"></div>
</body>
</html>