<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bases of users List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        input.text { margin-bottom:12px; width:95%; padding: .4em; }
        fieldset { padding:0; border:0; margin-top:25px; }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        function deleteClicked(value1, value2) {
            $( "#dialog-confirm" ).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                display: 'block',
                buttons: {
                    OK: function() {
                        var url = 'basesofuserslist';
                        var form = $('<form action="' + url + '" method="post">' +
                            '<input type="hidden" name="delete" value="' + value1 + '" />' +
                            '<input type="hidden" name="size" value="' + value2 + '" />' +
                            '</form>');
                        $('body').append(form);
                        form.submit();
                        $( this ).dialog( "close" );
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
        }
    </script>
    <script>
        function add_updateClicked(buttonname, formname) {
            $( "#dialog-form" ).dialog({
                resizable: true,
                height: "auto",
                width: 400,
                modal: true,
                display: 'block',
                title: formname
            });
            document.getElementById('button').name=buttonname;
        }
    </script>
    <script>
        function archivebaseClicked(value1, value2) {
            var url = 'basesofuserslist';
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="hidden" name="archivebase" value="' + value1 + '" />' +
                '<input type="hidden" name="size" value="' + value2 + '" />' +
                '</form>');
            $('body').append(form);
            form.submit();
        }
    </script>
    <script>
        function getarchiveClicked(value1, value2) {
            var url = 'basesofuserslist';
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="hidden" name="getarchive" value="' + value1 + '" />' +
                '<input type="hidden" name="size" value="' + value2 + '" />' +
                '</form>');
            $('body').append(form);
            form.submit();
        }
    </script>
</head>
<body>
<div th:insert="menu :: mainmenu"></div>
<div style="display:none;" id="dialog-confirm" th:title="#{menu.confirm.delete}">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 20px 0px 0;"></span>
    <span th:utext="#{info.confirm.delete}"></span>
</div>

<div style="display:none;" id="dialog-form">
    <form th:object="${baseofusersform}" method="POST">
        <fieldset>
            <input type="hidden" name="ident" id="ident" class="text ui-widget-content ui-corner-all" th:field="*{id}">
            <label for="user"><span th:utext="#{basesofuserslist.user}"></span>:</label>
            <select th:field="*{userid}" id="user" style="margin-bottom:12px; width:100%; padding: .4em;">
                <option value="0"> -- </option>
                <option th:each="user : ${users}"
                        th:value="${user.getId()}"
                        th:text="${user.getUsername()}"></option>
            </select>
            <label for="base"><span th:utext="#{basesofuserslist.base}"></span>:</label>
            <select th:field="*{baseid}" id="base" style="margin-bottom:12px; width:100%; padding: .4em;">
                <option value="0"> -- </option>
                <option th:each="base : ${bases}"
                        th:value="${base.getId()}"
                        th:text="${base.getBasename()}"></option>
            </select>
            <br/>
            <button type="submit" id="button"><span th:utext="#{button.execute}"></span></button>
        </fieldset>
    </form>
</div>


<h1 th:utext="#{menu.basesofuserslist}"></h1>
<form action="basesofuserslist" th:object="${tablePageSize}" method="get">
    <select th:field="*{size}">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
    <button type="submit" name="change"><span th:utext="#{button.changetablepagesize}"></span></button>
</form>

<div>
    <table border="1">
        <tr th:height="50px">
            <th th:utext="#{basesofuserslist.recordid}" align="center"></th>
            <th align="center">
                <a th:href="@{/basesofuserslist(order='username_d', size=${currentPageSize})}" style="text-decoration: none;" th:utext="'^'">
                </a>
                <span th:text="#{basesofuserslist.user}"></span>
                <a th:href="@{/basesofuserslist(order='username_a', size=${currentPageSize})}" style="text-decoration: none;" th:utext="'v'">
                </a>
            </th>
            <th align="center">
                <a th:href="@{/basesofuserslist(order='basename_d', size=${currentPageSize})}" style="text-decoration: none;" th:utext="'^'">
                </a>
                <span th:text="#{basesofuserslist.base}"></span>
                <a th:href="@{/basesofuserslist(order='basename_a', size=${currentPageSize})}" style="text-decoration: none;" th:utext="'v'">
                </a>
            </th>
            <th th:utext="#{baseslist.description}" align="center"></th>
            <th th:utext="#{baseslist.baseid}" align="center"></th>
            <th th:utext="#{baseslist.path}" align="center"></th>
            <th th:utext="#{baseslist.ipaddress}" align="center"></th>
            <th th:hidden="${isadm eq 0}"></th>
            <th colspan="2"></th>
        </tr>
        <tr th:each ="baseofusers : ${basesofusers}">
            <td th:utext="${baseofusers.id}" align="center">...</td>
            <td th:utext="${baseofusers.usersByUserid.getUsername()}">...</td>
            <td th:utext="${baseofusers.basesByBaseid.getBasename()}">...</td>
            <td th:utext="${baseofusers.basesByBaseid.getDescription()}">...</td>
            <td th:utext="${baseofusers.basesByBaseid.getId()}" align="center">...</td>
            <td th:utext="${baseofusers.basesByBaseid.getPath()}">...</td>
            <td><a th:href="${baseofusers.basesByBaseid.getIpaddress()}" th:text="${baseofusers.basesByBaseid.getIpaddress()}">...</a></td>
            <td th:hidden="${isadm eq 0}">
                    <button type="submit" name="delete" th:onclick="'javascript:deleteClicked(\'' + ${baseofusers.id} +
                                '\',\'' + ${currentPageSize} + '\');'">
                        <span th:utext="#{button.delete}"></span>
                    </button>
            </td>
            <td align="center">
                <button type="submit" name="archivebase" th:onclick="'javascript:archivebaseClicked(\'' + ${baseofusers.id} +
                                '\',\'' + ${currentPageSize} + '\');'">
                    <span th:utext="#{button.archivebase}"></span>
                </button>
            </td>
            <td align="center">
                <button type="submit" name="getarchive" th:onclick="'javascript:getarchiveClicked(\'' + ${baseofusers.id} +
                                '\',\'' + ${currentPageSize} + '\');'">
                    <span th:utext="#{button.getarchivebase}"></span>
                </button>
            </td>
        </tr>
    </table>
</div>
<div th:if="${totalPages > 1}">
    <table border="0">
        <tr  height = 20px>
            <div class="pagination"
                 th:each="pageNumber : ${pageNumbers}">
                <td>
                    <a th:href="@{/basesofuserslist(size=${pageSize}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==currentPage} ? active">
                    </a>
                </td>
            </div>
        </tr>
    </table>
</div>
<br/>
<div th:if="${isadm != 0}">
    <button type="submit" th:onclick="'javascript:add_updateClicked(\''  + 'add' +
                                '\',\'' + #{button.add} + '\');'">
        <span th:utext="#{button.add}"></span>
    </button>
</div>
<br/>
<div th:if="${infoMessage}" th:utext="${infoMessage}"
     style="color:blue;font-style:italic;">
    ...
</div>
    <div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
    </div>
<div th:insert="footer :: copyright"></div>
</body>
</html>