<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Bases List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]!</h1>
<h1>Bases of users List</h1>
<div>
    <table border="1">
        <tr>
            <th>Record ID</th>
            <th>User</th>
            <th>Base</th>
        </tr>
        <tr th:each ="baseofusers : ${basesofusers}">
            <td th:utext="${baseofusers.id}">...</td>
            <td th:utext="${baseofusers.usersByUserid.getUsername()}">...</td>
            <td th:utext="${baseofusers.basesByBaseid.getBasename()}">...</td>
        </tr>
    </table>
</div>
<br/>
<h2>Base of users Form</h2>
<form th:object="${baseofusersform}" method="POST">
    Base ID:
    <input type="text" th:field="*{id}" />
    <button type="submit" name="findbyid">Find by ID</button>
    <br/>
    User:
    <select th:field="*{userid}">
        <option value="0"> -- </option>
        <option th:each="user : ${users}"
                th:value="${user.getId()}"
                th:text="${user.getUsername()}"></option>
    </select>
    <br/>
    Base:
    <select th:field="*{baseid}">
        <option value="0"> -- </option>
        <option th:each="base : ${bases}"
                th:value="${base.getId()}"
                th:text="${base.getBasename()}"></option>
    </select>
    <br/>
    <button type="submit" name="add">Add base</button>
    <button type="submit" name="delete">Delete base</button>
</form>


<a href="/">To the main page</a>

<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>