<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Contragents List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/menu"></th:block>
<h1>Contragents List</h1>
<div>
    <table border="1">
        <tr>
            <th>Contragent ID</th>
            <th>Contragent Name</th>
            <th>Description</th>
            <th>INN</th>
        </tr>
        <tr th:each ="contragent : ${contragents}">
            <td th:utext="${contragent.id}">...</td>
            <td th:utext="${contragent.contragentname}">...</td>
            <td th:utext="${contragent.description}">...</td>
            <td th:utext="${contragent.inn}">...</td>
        </tr>
    </table>
</div>
<br/>
<h2>Contragent Form</h2>
<form th:object="${contragentform}" method="POST">
    Contragent ID:
    <input type="text" th:field="*{id}" />
    <button type="submit" name="findbyid">Find by ID</button>
    <br/>
    Contragent Name:
    <input type="text" th:field="*{contragentname}" />
    <br/>
    Description:
    <input type="text" th:field="*{description}" />
    <br/>
    INN:
    <input type="text" th:field="*{inn}" />
    <button type="submit" name="findbyinn">Find by INN</button>
    <br/>
    <button type="submit" name="add">Add contragent</button>
    <button type="submit" name="delete">Delete contragent</button>
    <button type="submit" name="update">Update contragent</button>
</form>
<br/>

<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<th:block th:include="/footer"></th:block>
</body>
</html>