<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Contragents List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="menu :: mainmenu"></div>
<h1 th:utext="#{menu.contragentslist}"></h1>
<form action="contragentslist" th:object="${tablePageSize}" method="get">
    <select th:field="*{size}">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
    <button type="submit" name="change"><span th:utext="#{button.changetablepagesize}"></span></button>
</form>
<div>
    <table border="1">
        <tr th:height="50px">
            <th th:utext="#{contragentslist.contragentid}" align="center"></th>
            <th align="center">
                <a th:href="@{/contragentslist(order='contragentname_d', size=${currentPageSize})}" style="text-decoration: none;" th:utext="'^'">
                </a>
                <span th:text="#{contragentslist.contragentname}"></span>
                <a th:href="@{/contragentslist(order='contragentname_a', size=${currentPageSize})}" style="text-decoration: none;" th:utext="'v'">
                </a>
            </th>
            <th th:utext="#{contragentslist.description}" align="center"></th>
            <th th:utext="#{contragentslist.inn}" align="center"></th>
        </tr>
        <tr th:each ="contragent : ${contragents}">
            <td th:utext="${contragent.id}" align="center">...</td>
            <td th:utext="${contragent.contragentname}">...</td>
            <td th:utext="${contragent.description}">...</td>
            <td th:utext="${contragent.inn}" align="center">...</td>
        </tr>
    </table>
</div>
<div th:if="${totalPages > 1}">
<table border="0">
    <tr  height = 20px>
        <div class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <td>
                <a th:href="@{/contragentslist(size=${pageSize}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==currentPage} ? active">
                </a>
            </td>
        </div>
    </tr>
</table>
</div>
<br/>
<h2 th:utext="#{contragentslist.form}"></h2>
<form th:object="${contragentform}" method="POST">
    <span th:utext="#{contragentslist.contragentid}"></span>:
    <input type="text" th:field="*{id}" />
    <button type="submit" name="findbyid"><span th:utext="#{button.findByID}"></span></button>
    <br/>
    <span th:utext="#{contragentslist.contragentname}"></span>:
    <input type="text" th:field="*{contragentname}" />
    <br/>
    <span th:utext="#{contragentslist.description}"></span>:
    <input type="text" th:field="*{description}" />
    <br/>
    <span th:utext="#{contragentslist.inn}"></span>:
    <input type="text" th:field="*{inn}" />
    <button type="submit" name="findbyinn"><span th:utext="#{button.findByINN}"></span></button>
    <br/>
    <button type="submit" name="add"><span th:utext="#{button.add}"></span></button>
    <button type="submit" name="delete"><span th:utext="#{button.delete}"></span></button>
    <button type="submit" name="update"><span th:utext="#{button.update}"></span></button>
</form>
<br/>
<div th:if="${infoMessage}" th:utext="${infoMessage}"
     style="color:blue;font-style:italic;">
    ...
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<div th:insert="footer :: copyright"></div>
</body>
</html>