<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trust-soft terminal server</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="menu :: mainmenu"></div>
<h2 class="center" th:if="${#request.userPrincipal != null}" th:utext="#{login.welcome(${#request.userPrincipal.getName()})}"></h2>
<a th:if="${#request.userPrincipal == null}" th:href="@{/login}"><h3 th:utext="#{menu.authorize}" class="center"></h3></a>
<div th:insert="footer :: copyright"></div>
</body>
</html>