<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Trust-soft terminal server</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/menu"></th:block>
<h2 th:if="${#request.userPrincipal != null}" th:utext="${message}"></h2>
<th:block th:include="/footer"></th:block>
</body>
</html>