<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/menu"></th:block>
<h2>Login</h2>
<!-- /login?error=true -->
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Login Failed!!!<br />
    Reason :
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

</div>
<h3>Enter user name and password:</h3>
<form name='f' th:action="@{/j_spring_security_check}" method='POST'>
    User:
    <input type='text' name='username' value=''>
    <br/>
    <br/>
    Password:
    <input type='password' name='password' />
    <br/>
    <br/>
    Remember Me
    <input type="checkbox" name="remember-me" />
    <br/>
    <br/>
    <input name="submit" type="submit" value="submit" />
</form>
<th:block th:include="/footer"></th:block>
</body>

</html>