<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="menu :: mainmenu"></div>
<h2 th:utext="#{menu.login}"></h2>
<!-- /login?error=true -->
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0;">
    <span th:utext="#{login.failed}"></span><br />
    <span th:utext="#{login.reason}"></span> :
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

</div>

<form name='f' th:action="@{/j_spring_security_check}" method='POST'>
    <table  border="1">
        <tr>
            <td colspan = "2" align="center"><h3 th:utext="#{login.credentials}"></h3></td>
        </tr>
        <tr>
            <td align="center"><span th:utext="#{login.username}"></span>:</td>
            <td align="center"><input type='text' name='username' value='' width = 150px></td>
        </tr>
        <tr>
            <td align="center"><span th:utext="#{login.password}"></span>:</td>
            <td align="center"><input type='password' name='password'  width = 150px></td>
        </tr>
        <tr>
            <td align="center"><span th:utext="#{login.rememberme}"></span>:</td>
            <td align="center"><input type="checkbox" name="remember-me"></td>
        </tr>
        <tr>
            <td colspan = "2" align="center"><input name="submit" type="submit" th:value="#{button.submit}"/></td>
        </tr>
    </table>

</form>
<div th:insert="footer :: copyright"></div>
</body>

</html>