<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

    <a th:href="@{/}">Home</a>

    | &nbsp;

    <a th:href="@{/userinfo}">User info</a>

    | &nbsp;

    <a th:href="@{/userslist}">Users list</a>

    | &nbsp;

    <a th:href="@{/baseslist}">Bases list</a>

    | &nbsp;

    <a th:href="@{/contragentslist}">Contragents list</a>

    | &nbsp;

    <a th:href="@{/basesofuserslist}">Bases of users list</a>

    | &nbsp;

    <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>

</div>