<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>User info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="menu :: mainmenu"></div>
<h2>User Info Page</h2>
<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
<div th:if="${userInfo != null}" th:utext="${contragent}"></div>
<br/>
<form method="POST">
    <button type="submit" name="disconnect">Disconnect terminal session</button>
</form>
<br/>
<form th:object="${season}" method="POST">
    Start date (yyyy-mm-dd):
    <input type="text" th:field="*{startDate}"/>
    <br/>
    End date (yyyy-mm-dd):
    <input type="text" th:field="*{endDate}"/>
    <br/>
    <button type="submit" name="orderreconciliation">Order reconciliation act</button>
    <br/>
    <button type="submit" name="getreconciliation">Get reconciliation act</button>
</form>
<br/>

<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<div th:insert="footer :: copyright"></div>
</body>
</html>