<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Users List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/menu"></th:block>
<h1>Users List</h1>
<div>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Description</th>
            <th>Is Locked</th>
            <th>Is Admin</th>
            <th>Contragent</th>
            <th>Contragent INN</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.username}">...</td>
            <td th:utext="${user.description}">...</td>
            <td th:utext="${user.locked}">...</td>
            <td th:utext="${user.adm}">...</td>
            <td th:utext="${user.contragentsByContragentid.getContragentname()}">...</td>
            <td th:utext="${user.contragentsByContragentid.getInn()}">...</td>
        </tr>
    </table>
</div>
<br/>
<h2>User Form</h2>
<form th:object="${userform}" method="POST">
    User ID:
    <input type="text" th:field="*{id}" />
    <button type="submit" name="findbyid">Find by ID</button>
    <br/>
    User Name:
    <input type="text" th:field="*{username}" />
    <br/>
    User Password:
    <input type="password" th:field="*{userpassword}" />
    <br/>
    Description:
    <input type="text" th:field="*{description}" />
    <br/>
    Is Locked:
    <input type="checkbox" th:field="*{locked}" />
    <br/>
    Is Admin:
    <input type="checkbox" th:field="*{adm}" />
    <br/>
    Contragent:
    <select th:field="*{contragentid}">
        <option value="0"> -- </option>
        <option th:each="contragent : ${contragents}"
                th:value="${contragent.getId()}"
                th:text="${contragent.getContragentname()}"></option>
    </select>
    <br/>
    <button type="submit" name="add">Add user</button>
    <button type="submit" name="delete">Delete user</button>
    <button type="submit" name="update">Update user</button>
</form>
<br/>

<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<th:block th:include="/footer"></th:block>
</body>
</html>