<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Users List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Users List</h1>
<a href="adduser">Add User</a>
<br/>
<a href="removeuser">Remove User</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>User Password</th>
            <th>Description</th>
            <th>Is Locked</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.userid}">...</td>
            <td th:utext="${user.username}">...</td>
            <td th:utext="${user.userpassword}">...</td>
            <td th:utext="${user.description}">...</td>
            <td th:utext="${user.islocked}">...</td>
        </tr>
    </table>
</div>

</body>
</html>