<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Users List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="menu :: mainmenu"></div>
<h1 th:utext="#{menu.userslist}"></h1>
<div>
    <table border="1">
        <tr>
            <th th:utext="#{userslist.userid}"></th>
            <th th:utext="#{userslist.username}"></th>
            <th th:utext="#{userslist.description}"></th>
            <th th:utext="#{userslist.islocked}"></th>
            <th th:utext="#{userslist.isadmin}"></th>
            <th th:utext="#{userslist.contragent}"></th>
            <th th:utext="#{userslist.contragentinn}"></th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.username}">...</td>
            <td th:utext="${user.description}">...</td>
            <td th:utext="${user.locked}">...</td>
            <td th:utext="${user.adm}">...</td>
            <td th:utext="${user.contragentsByContragentid.getContragentname()}">...</td>
            <td th:utext="${user.contragentsByContragentid.getInn()}">...</td>
        </tr>
    </table>
</div>
<br/>
<h2 th:utext="#{userslist.form}"></h2>
<form th:object="${userform}" method="POST">
    <span th:utext="#{userslist.userid}"></span>:
    <input type="text" th:field="*{id}" />
    <button type="submit" name="findbyid"><span th:utext="#{button.findByID}"></span></button>
    <br/>
    <span th:utext="#{userslist.username}"></span>:
    <input type="text" th:field="*{username}" />
    <br/>
    <span th:utext="#{userslist.userpassword}"></span>:
    <input type="password" th:field="*{userpassword}" />
    <br/>
    <span th:utext="#{userslist.description}"></span>:
    <input type="text" th:field="*{description}" />
    <br/>
    <span th:utext="#{userslist.islocked}"></span>:
    <input type="checkbox" th:field="*{locked}" />
    <br/>
    <span th:utext="#{userslist.isadmin}"></span>:
    <input type="checkbox" th:field="*{adm}" />
    <br/>
    <span th:utext="#{userslist.contragent}"></span>:
    <select th:field="*{contragentid}">
        <option value="0"> -- </option>
        <option th:each="contragent : ${contragents}"
                th:value="${contragent.getId()}"
                th:text="${contragent.getContragentname()}"></option>
    </select>
    <br/>
    <button type="submit" name="add"><span th:utext="#{button.add}"></span></button>
    <button type="submit" name="delete"><span th:utext="#{button.delete}"></span></button>
    <button type="submit" name="update"><span th:utext="#{button.update}"></span></button>
</form>
<br/>
<div th:if="${infoMessage}" th:utext="${infoMessage}"
     style="color:blue;font-style:italic;">
    ...
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<div th:insert="footer :: copyright"></div>
</body>
</html>